.landing-page {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}
@media (max-width: 991px) {
  .landing-page {
    padding: 20px;
  }
}
@media (max-width: 640px) {
  .landing-page {
    padding: 16px;
  }
}
.hero-about-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.vector-image {
  position: absolute;
  width: 1155.88px;
  height: 1167.84px;
  left: 1470.26px;
  top: 400px;
  background: linear-gradient(135.93deg, #ff9500 17.35%, #ff3030 98.42%);
  filter: blur(109px);
  transform: rotate(-123.75deg);
  z-index: -1;
  opacity: 1;
}

.vector-divider-img {
  position: absolute;
  width: 830.94px;
  height: 839.53px;
  left: -650px;
  top: 3089px;
  background: linear-gradient(135.93deg, #ff9500 17.35%, #ff3030 98.42%);
  filter: blur(109px);
  transform: rotate(-123.75deg);
  opacity: 0.7;
}

.pro-vector {
  position: absolute;
  width: 1155.88px;
  height: 1167.84px;
  left: -1100px;
  top: 7000px;
  background: linear-gradient(135.93deg, #ff9500 17.35%, #ff3030 98.42%);
  filter: blur(218px);
  transform: rotate(-123.75deg);
  opacity: 1;
}
